h1 {
        margin: -10px;
        color: rgb(24, 196, 239);
}

#main-content {
        background-color: grey;
        border: 1px solid black;
        height: fit-content;
        margin: 30px 10px 0;
}

#menu-title-1 {
        font-size: 1.75em;
}